// Home page

.main-content {
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 90px;
}

.questions {
  padding-top: 60px;
}

.answers {
  margin-top: 120px;
  margin-bottom: 120px;
}


.featured-image {
  padding-top: 60px;
  margin: 0 auto;
}

.intext-image {
  padding-top: 60px;
  padding-bottom: 90px;
}

.math {
  padding: 10px;
}

.equation {
  margin-top: 60px;
  margin-bottom: 60px;
}
