/**
 * Page content
 */
.page-content {
    padding: 0;
    margin-top: 50px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $hilite-color;
}

.post-link {
    display: block;
    font-size: 24px;
}
